<h2>商品登録</h2>

<form appBarcodeReader (codeRead)="onCodeRead($event)" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

  <label for="code">
    コード
    <input type="text" id="code" name="code" [(ngModel)]="code" readonly required>
  </label>
  <label for="name">
    商品名
    <input type="text" id="name" name="name" ngModel required>
  </label>
  <label for="price">価格<input type="number" name="price" id="price" ngModel required></label>
  <button type="button" [disabled]="!f.form.valid" (click)="onSubmit(f)">登録</button>
</form>

<ul>
  <li *ngFor="let item of items | async">
    {{item.code}}: {{item.name}}: {{item.price}}
  </li>
</ul>
